.card {
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table {
    margin-bottom: 0;
}

.badge {
    font-size: 0.9em;
    padding: 0.5em 0.8em;
}

.img-fluid {
    max-height: 480px;
    width: auto;
}
